@import 'Controls-devtools-theme/light/_theme';
@themeName: devtools__light;

@color-PaneTemplate-fieldName:                           #881391;
@color-PaneTemplate-value:                               #1a1aa6;
@color-PaneTemplate-value_string:                        #C80000;
