@import '_theme';
@import 'Elements/elements';

@color_control_elements:                           @primary_text-color;
@color_hoc_elements:                               @secondary_text-color;
@color_template_elements:                          #555;

@background-color_selected_breadCrumbs:            #e4e4e4;
@background-color_selected_elements:               rgba(0, 190, 210, 0.2);
