@import '_theme';
@import 'Controls/search';

@border-color_hover_searchInput:                #5a5a5a #5a5a5a #5a5a5a #5a5a5a;
@border-color_focus_searchInput:                @border-color_hover_searchInput;
@background-color_searchInput:                  #242424;
