@import '_theme';
@import 'Controls/tabs';

@separator_color_tabs:                 @secondary_text-color;
@border-color_tabs:                    @color_separator;
@primary_marker_color_tabs:            #a5a5a5;
