@themeName: devtools__dark;

.controls_theme-@{themeName} {

  // Devtools
  --color_separator:                                     #525252;
  --hover_background-color_list:                         rgba(56, 121, 217, 0.1);
  --background-color_toolbar:                            #333;
  --background-color_selected_elements:                  #073d69;

  // Common
  --background-color: #242424;
  --hover_background-color: #333;
  --text-color: #d5d5d5;
  --primary_text-color: #eaeaea;
  --secondary_text-color: #a5a5a5;
  --secondary_hover_text-color: #ccc;
  --link_text-color: #ababab;
  --link_hover_text-color: #ccc;
  --primary_color: #0e639c;
  --secondary_color: #919191;
  --danger_color: #FF4D4D;
  --unaccented_color: #d5d5d5;
  --unaccented_icon-color: #919191;
  --marker_color: #9f9f9f;
  --readonly_marker-color: var(--readonly_color);
  --readonly_color: #626262;

  --background-color_default: var(--background-color);

  // Input
  --placeholder-color_inputText: rgba(230, 230, 230, 0.54);
  --border-color_inputText: var(--color_separator);
  --border-color_hover_inputText: var(--color_separator);
  --border-color_focus_inputText: var(--color_separator);

  // SearchInput
  --background-color_searchInput: var(--background-color);

  // TreeGrid
  --node_expander_icon-color_treeGrid: var(--unaccented_icon-color);
  --node_expander_hover_icon-color_treeGrid: var(--link_hover_text-color);
  --node_font-size_treeGrid: var(--font-size_m);

  // Scroll
  --start-color-gradient_Scroll-shadow: rgba(83, 92, 104, .5);
  --end-color-gradient_Scroll-shadow: rgba(83, 92, 104, 0);

  // Scrollbar
  --accented_thumb_background-color_scrollbar: #333;
  --accented_thumb_hover_background-color_scrollbar: var(--accented_thumb_background-color_scrollbar);

  // List
  --master_item_background-color_list: var(--background-color);
  --master_separator_contrast-color_list: var(--color_separator);

  // Sticky
  --border-color_sticky: var(--color_separator);

  // popupTemplate
  --header_background-color_sticky: #333;
  --header_background-color_stack: #333;
  --header_bottom-border-color_stack: var(--color_separator);
  --border-color_dialog: var(--color_separator);
  --border-color_stack: var(--color_separator);
  --background-color_infobox: var(--background-color);
  --border-color_infobox: var(--color_separator);
  --footer_background-color_dialog: var(--background-color);
  --footer_top-border-color_dialog: var(--color_separator);

  // Buttons
  --background-color_contrast_button_toolButton: #202020;
  --primary_hover_background-color_button: #202020;
  --primary_active_background-color_button: #202020;
  --secondary_hover_background-color_button: #202020;
  --secondary_active_background-color_button: #202020;
  --background-color_button_toolButton: var(--background-color_toolbar);
  --border-color_button_toolButton: #353535;
  --border-color_hover_button_toolButton: var(--border-color_button_toolButton);

  // Close button
  --icon_background-image_closeButton_toolButton: url("img/DefaultCloseIcon.svg");
  --icon_hovered_background-image_closeButton_toolButton: url("img/CloseIconHovered.svg");
  --border-color_hover_closeButton_toolButton: #919191;
  --icon_hovered_background-image_closeButton_link: url("img/CloseIconHovered.svg");

  // Back
  --color-Back__caption_style-secondary_val: var(--secondary_text-color);
  --color-Back__caption_style-secondary_hovered_val: var(--secondary_hover_text-color);
  --backArrowOrange_icon: url("img/BackArrowOrange.svg");

  // Toggle
  --marker-box_border-color_switcher: var(--secondary_color);
  --readonly_marker-box_border-color_checkbox: var(--readonly_color);

  // Filter panel
  --background-color_vertical_filterPanel: var(--background-color_toolbar);
}