@import '_theme';
@import 'Elements/_elements';

@color_control_elements:                           #5db0d7;
@color_hoc_elements:                               #9bbbdc;
@color_template_elements:                          #ababab;

@background-color_selected_breadCrumbs:            #333333;
