@keyframes flash {
   0% {
      background-color: #881280; //близко к дефолту хрома
   }

   100% {
      background-color: transparent;
   }
}

.Elements {
   max-height: calc(100vh - 31px);
   display: flex;
}

.Elements__tree {
   width: 100%;
}

.flash {
   animation: flash 1s;
   animation-fill-mode: forwards;
}

.selected {
   background-color: rgba(0, 190, 210, 0.2);
}