@keyframes flash {
   0% {
      background-color: #881280; //близко к дефолту хрома
   }

   100% {
      background-color: transparent;
   }
}

.flash {
   animation: flash 1s;
   animation-fill-mode: forwards;
}