.Elements {
   height: calc(100vh - 31px);
   display: flex;
}

.Elements__treeContainer {
   width: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.Elements__tree {
   height: 100%;
}

.Elements__node {
   cursor: pointer;
}

.Elements__node:hover {
   background-color: rgba(0, 190, 210, 0.1);
}

.Elements__node_control {
   color: #D94700;
}

.Elements__node_hoc {
   color: #313E78;
}

.Elements__node_template {
   color: #555;
}

.Elements__node_selected {
   background-color: rgba(0, 190, 210, 0.2);
}
