.Pane {
   display: flex;
   flex-direction: column;
}

.Pane_expanded {
   height: 100%;
}

.Pane_closed {
   flex-shrink: 0;
}

.Pane__header {
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
}

.Pane__listWrapper {
   display: flex;
   flex-direction: column;
   overflow: hidden;
}
