@import "SBIS3.CONTROLS/themes/online/_variables";
.devtools-Elements__treeContainer {
   flex-grow: 1;
   flex-shrink: 1;
   min-width: 0;
}

.devtools-Elements__DetailsContainer {
   position: relative;
}

.devtools-Elements__DetailsContainer_theme_@{themeName} {
   border-left: @border-thickness solid @color_separator;
}

.devtools-Elements__resizingLine {
   position: absolute;
   height: 100%;
   width: 5px;
}

.devtools-Elements__treeWrapper {
   height: 100%;
}

.devtools-Elements__node {
   cursor: pointer;
   white-space: nowrap;
}

.devtools-Elements__node_theme_@{themeName}:hover {
   background-color: @hover_background-color_list;
}

.devtools-Elements__node_control_theme_@{themeName} {
   color: @color_control_elements;
}

.devtools-Elements__node_hoc_theme_@{themeName} {
   color: @color_hoc_elements;
}

.devtools-Elements__node_template_theme_@{themeName} {
   color: @color_template_elements;
}

.devtools-Elements__node_selected_theme_@{themeName} {
   background-color: @background-color_selected_elements;
}

.devtools-Elements__headElement {
   margin-right: 6px;
}

.devtools-Elements__node_childless {
   padding-left: 16px;
}

.devtools-Elements__hint {
   font-size: 13px;
}

.devtools-Elements__hint_theme_@{themeName} {
   color: @unaccented_color;
}

.devtools-Elements__tree_logicParentHovered {
   .devtools-Elements__node_logicParent_theme_@{themeName} {
      background-color: @hover_background-color_list;
   }
}
