.Elements__treeContainer {
   width: 100%;
   display: flex;
   flex-direction: column;
   overflow-x: auto;
}

/*
TODO: пока нет горизонтального скролл контейнера делаем нечто очень похожее на него
сделают по этой задаче: https://online.sbis.ru/opendoc.html?guid=f6171d86-08f1-4503-b8fc-b0b82ec528b7
 */
.Elements__treeContainer {
   .controls-Scroll {
      overflow-x: auto;
   }
   .controls-Scroll__content_scroll {
      overflow-x: auto;
   }
   .controls-Scroll__content_hideNativeScrollbar {
      &::-webkit-scrollbar {
         height: 8px;
      }
      &::-webkit-scrollbar-thumb {
         height: 200%;
         border-radius: 5px;
         background-color: rgba(0, 0, 0, 0.1);
      }
      &::-webkit-scrollbar-thumb:hover {
         background-color: rgba(0, 0, 0, 0.15);
      }
   }
}

.Elements__treeWrapper {
   height: 100%;
}

.Elements__tree {
   width: min-content;
   min-width: 100%;
}

.Elements__node {
   cursor: pointer;
   white-space: nowrap;
}

.Elements__node:hover {
   background-color: rgba(0, 190, 210, 0.1);
}

.Elements__node_control {
   color: #D94700;
}

.Elements__node_hoc {
   color: #313E78;
}

.Elements__node_template {
   color: #555;
}

.Elements__node_selected {
   background-color: rgba(0, 190, 210, 0.2);
}

.Elements__headElement {
   margin-right: 6px;
}

.Elements__node_childless {
   padding-left: 16px;
}

.Elements__hint {
   padding: 0 6px;
   color: #999;
   font-size: 13px;
}
