@height-tab-button-panel: 31px;
@height-search-panel: 48px;
@height-head-panels: @height-tab-button-panel + @height-search-panel;

.DependencyWatcher_Page {

}
.DependencyWatcher_Page__scroll {
  max-height: calc(100vh - @height-head-panels)
}

.DependencyWatcher_Page__head {
  padding: 12px;
}

.DependencyWatcher_Page__head > div {
  margin-right: 12px;
}

.DependencyWatcher_Page__head > div:last-child {
  display: inline-flex;
  float: right;
  margin-right: 0;
}

.DependencyWatcher_item__notUsed {
  text-decoration: line-through;
}

.DependencyWatcher_item__dynamic {
  color: #cccccc;
}
