@color-PaneTemplate-fieldName: #881391;
@color-PaneTemplate-value: #1a1aa6;

.devtools-BooleanTemplate__fieldName {
   color: @color-PaneTemplate-fieldName;
}

.devtools-BooleanTemplate__value {
   color: @color-PaneTemplate-value;
}
