@color-PaneTemplate-fieldName: #881391;
@color-PaneTemplate-value_string: #1a1aa6;

.devtools-StringTemplate__fieldName {
   color: @color-PaneTemplate-fieldName;
}

.devtools-StringTemplate__value {
   color: @color-PaneTemplate-value_string;
}
