.Details {
   border-left: 1px solid #ccc;
   display: flex;
   flex-direction: column;
   width: 550px;
   margin-left: auto;
}

.Details__buttons {
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
}
