.Details {
   border-left: 1px solid #ccc;
   display: flex;
   flex-direction: column;
   width: 550px;
   margin-left: auto;
}

.Details__buttons {
   display: flex;
   flex-direction: column;
   flex-shrink: 0;
}

.Details__header {
   border-top: 1px solid #ccc;
   border-bottom: 1px solid #ccc;
}

.Details__tabContent {
   padding-left: 10px;
}
