.devtools-TimeRender {
   width: 100%;
}

.devtools-TimeRender__value {
   width: 70px;
}

.devtools-TimeRender__bar {
   height: 10px;
}

.for(0, 8, {
   .devtools-TimeRender__bar_backgroundColor_@{_i}_theme_@{themeName} {
      @color: "background-color_timeRender_@{_i}";
      background: @@color;
   }
});
