.TimeRender {
   display: flex;
   align-items: center;
   width: 100%;
}

.TimeRender__value {
   width: 70px;
   flex-shrink: 0;
}

.TimeRender__barWrapper {
   flex-grow: 1;
}

.TimeRender__bar {
   height: 10px;
}
