@import "SBIS3.CONTROLS/themes/online/_variables";
.devtools-CommitDetails {
   width: 400px;
   margin-left: auto;
   padding: 4px;
}

.devtools-CommitDetails_theme_@{themeName} {
   border-left: @border-thickness solid @color_separator;
}

.devtools-CommitDetails__changesContainer {
   width: 100%;
   padding-left: 4px;
}

.devtools-CommitDetails__changedValueName {
   margin-left: 10px;
}
