.devtools-CommitDetails {
   border-left: 1px solid #ccc;
   width: 400px;
   margin-left: auto;
   padding: 4px;
}

.devtools-CommitDetails__changesContainer {
   width: 100%;
   padding-left: 4px;
}

.devtools-CommitDetails__changedValueName {
   margin-left: 10px;
}
