@import "SBIS3.CONTROLS/themes/online/_variables";
.devtools-Devtool_Page {
  max-height: 100vh;
  overflow: hidden;
}

.devtools-Devtool_Page__tabButtons {
  width: 100%;
}

.devtools-Devtool_Page__tabButtons_theme_@{themeName} {
  background-color: @background-color_toolbar;
}

.devtools-Devtool_Page__settings {
  margin-left: auto;
  margin-right: 6px;
}

.devtools-Devtool_Page__emptyTemplate {
  height: 100%;
}

.layout-Browser__header_theme-devtools__dark {
  background-color: @background-color_toolbar;
  border-bottom: @border-thickness solid @color_separator;
}
