body {
  background: white;
}
.devtools-Devtool_Page {
  max-height: 100vh;
  overflow: hidden;
}
.devtools-Devtool_Page__tabButtons {
  width: 100%;
}

.devtools-Devtool_Page__settings {
  margin-left: auto;
  margin-right: 6px;
}
