.devtools-Browser {
   height: calc(100vh - 31px);
}

.devtools-Browser__head {
   border-bottom: 1px solid #ccc;
   height: 31px;
   padding-left: 6px;
}

.devtools-Browser__content {
   overflow: hidden;
   height: 100%;
}
