.Browser {
   height: calc(100vh - 31px);
   display: flex;
   flex-direction: column;
}

.Browser__head {
   flex-shrink: 0;
   border-bottom: 1px solid #ccc;
   height: 31px;
   display: flex;
   align-items: center;
   padding-left: 6px;
}

.Browser__content {
   display: flex;
   overflow: hidden;
   height: 100%;
}
