@import 'Controls-default-theme/_theme';
@themeName: devtools__light;

// Devtools
@hover_background-color_list:                         rgba(0, 190, 210, 0.1);
@background-color_toolbar:                            transparent;
