@import 'Controls-default-theme/_theme';
@themeName: devtools__light;

// TreeGrid
@node_font-size_treeGrid:                             @font-size_m;

// Devtools
@hover_background-color_list:                         rgba(0, 190, 210, 0.1);
@background-color_toolbar:                            transparent;
@color_separator:                                     #EAEAEA;
