@import "_theme";
@import "Controls-default-theme/_variables";


.controls_theme-@{themeName} {

  // Devtools
  --background-color_selected_elements:                  rgba(0, 190, 210, 0.2);
  --hover_background-color_list:                         rgba(0, 190, 210, 0.1);


  // Common
  --background-color:                                   #fff;
  --separator_color_block:                              #EAEAEA;
  --secondary_same_background-color:                    #fff;
}

.controls_list_theme-@{themeName} {
  // TreeGrid
  --node_font-size_treeGrid:                             var(--font-size_m);
}
