.controls_theme-@{themeName} {

  // Devtools
  --color_separator:                                     #EAEAEA;
  --background-color_selected_elements:                  rgba(0, 190, 210, 0.2);

  // Common
  --background-color:                                    #fff;

  // TreeGrid
  --node_font-size_treeGrid:                             var(--font-size_m);

  // Devtools
  --hover_background-color_list:                         rgba(0, 190, 210, 0.1);
  --background-color_toolbar:                            #fff;
}