.Overview {
   border-left: 1px solid #ccc;
   display: flex;
   flex-direction: column;
   width: 400px;
   margin-left: auto;
   padding: 4px;
}

.Overview__row {
   display: flex;
   align-items: center;
}

.Overview__reasonTag {
   margin-left: 4px;
   margin-right: 6px;
}

.Overview__image {
   width: 100%;
   cursor: zoom-in;
}
