@import "SBIS3.CONTROLS/themes/online/_variables";
.devtools-Overview {
   width: 400px;
   margin-left: auto;
   padding: 4px;
}

.devtools-Overview_theme-@{themeName} {
   border-left: @border-thickness solid @color_separator;
}

.devtools-Overview__reasonTag {
   margin-left: 4px;
   margin-right: 6px;
}
