.Breadcrumbs {
   display: flex;
   white-space: nowrap;
   border-top: 1px solid #ccc;
   background: #fff;
   width: 100%;
   overflow-x: auto;
   flex-shrink: 0;
}

.Breadcrumbs__crumb {
   padding: 0 6px;
   cursor: pointer;
}

.Breadcrumbs__crumb:hover {
   background: #F0F5FB;
}

.Breadcrumbs__crumb_selected {
   background: #e4e4e4;
}
