.devtools-Profiler__headElement {
   margin-right: 6px;
}

.devtools-Profiler__master {
   height: 100%;
}

.devtools-Profiler__greeting {
   margin: auto;
}

.devtools-Profiler__stopButton {
   margin-top: 6px;
}

.Profiler__content {
   overflow: hidden;
   height: 100%;
}
