.devtools-Profiler__headElement {
   margin-right: 6px;
}

.devtools-Profiler__master {
   height: 100%;
}

.devtools-Profiler__greeting {
   margin: auto;
}

.devtools-Profiler__stopButton {
   margin-top: 6px;
}

.devtools-Profiler__content {
   overflow: hidden;
   height: 100%;
}

.devtools-reason_background_noChangesInSubtree_theme_@{themeName} {
   background: @background-color_reason_noChangesInSubtree;
}

.devtools-reason_background_mounted_theme_@{themeName} {
   background: @background-color_reason_mounted;
}

.devtools-reason_background_forceUpdated_theme_@{themeName} {
   background: @background-color_reason_forceUpdated;
}

.devtools-reason_background_selfUpdated_theme_@{themeName} {
   background: @background-color_reason_selfUpdated;
}

.devtools-reason_background_parentUpdated_theme_@{themeName} {
   background: @background-color_reason_parentUpdated;
}

.devtools-reason_background_unchanged_theme_@{themeName} {
   background: @background-color_reason_unchanged;
}

.devtools-reason_background_destroyed_theme_@{themeName} {
   background: @background-color_reason_destroyed;
}
