.CommitDetails {
   border-left: 1px solid #ccc;
   display: flex;
   flex-direction: column;
   width: 550px;
   margin-left: auto;
   padding: 4px;
}

.CommitDetails__changesContainer {
   display: flex;
   flex-direction: column;
   width: 100%;
   padding-left: 4px;
}

.CommitDetails__image {
   width: 100%;
   cursor: zoom-in;
}
