.Profiler {
   height: calc(100vh - 31px);
   display: flex;
   flex-direction: column;
}

.Profiler__head {
   flex-shrink: 0;
   border-bottom: 1px solid #ccc;
   height: 31px;
   display: flex;
   align-items: center;
   padding-left: 6px;
}

.Profiler__content {
   display: flex;
   overflow: hidden;
   height: 100%;
}

.Profiler__masterDetail {
   flex-grow: 1;
}

.Profiler__detail {
   flex-grow: 1;
}

.Profiler__greeting {
   margin: auto;
   display: flex;
   align-items: center;
}

.Profiler__status {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.Profiler__stopButton {
   margin-top: 6px;
}
