.Profiler__headElement {
   margin-right: 6px;
}

.Profiler__masterDetail {
   flex-grow: 1;
}

.Profiler__detail {
   flex-grow: 1;
}

.Profiler__master {
   max-width: 300px;
}

.Profiler__greeting {
   margin: auto;
   display: flex;
   align-items: center;
}

.Profiler__status {
   display: flex;
   flex-direction: column;
}

.Profiler__stopButton {
   margin-top: 6px;
   align-self: center;
}

.Profiler__synchronizationPreview {
   object-fit: contain;
   max-width: 50vw;
   max-height: 50vh;
   padding: 6px;
}

.Profiler__headRadioGroup {
   align-self: flex-end;
}
